.container {
  width: 100%;
}

.gantt-days {
  width: auto;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: rgba(153,153,153,1);
  display: flex;
  .gantt-day {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px;
    padding: 10px;
    border-radius: 100%;
    height: 60px;
    flex: 1 0 60px;
  }
  .selected {
    color: white;
    background: #E84358;
    box-shadow: 0px 3px 5px 0px rgba(232,67,88,0.41);
  }
}

.process-container {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background: gray;
}