.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  > View:first-child {
    font-size: 28px;
    line-height: 44px;
    color:rgba(51,51,51,1);
    > Text:first-child {
      font-size: 46px;
      font-style: italic;
      font-weight: 600;
      padding-right: 10px;
    }
  }
  > Text:last-child {
    color: #F25A5B;
    font-size: 28px;
    line-height: 44px;
    text-decoration: underline;
  }
}